--allman false
--disable andOperator
--disable unusedArguments
--disable opaqueGenericParameters
--ifdef no-indent
--lineaftermarks false
--property-types inferred
--swiftversion 6.3
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation enabled
--extensionacl on-declarations
